.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
.add-btn{
  background-color: #a1476f; /* Green */
  border: none;
  color: hwb(265 9% 51%);
  padding: 10px 15px;
  margin-left: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
